<html>
<head>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <meta charset="UTF-8">
  <title>mongeese</title>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        {{{body}}}
      </div>
    </div>
  </div>
</body>
</html>
